@import url('https://fonts.googleapis.com/css?family=Oxygen');
body {
  background: #2F2F2F;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
  overflow: hidden;
}

#top{
  position: relative;
  margin-top: -2em;
  margin-left: -2em;
  margin-right: 0em;
  height: 10em
}

#geartrain {
  position: relative;
  margin-left: 0em;
  margin-top: 0em;
  width: 50%;
  height: 10em
}

#gear1 {
  position: absolute;
  margin-left: 0em;
  margin-top: 0em;
}

#gear2 {
  position: absolute;
  margin-left: 6.1em;
  margin-top: 2.075em;
  transform: rotate(15deg);
}

#gear3 {
  position: absolute;
  margin-left: 12.2em;
  margin-top: .35em;
  transform: rotate(20deg);
}

#menu{
  position: relative;
  margin-top: -8em;
  padding: 2em;
  float: right;

}
/*
#maincontent{
  position: relative;
  margin: 0em;
  padding: 0em;
  margin-top: 5em;
  height: 22em;
  background-color: red;

}


#left{
  position: relative;
  background-color: blue;
  height: 23%;
  display: inline-block;
  background-color: green;
  vertical-align: middle
}

#education{
  position: absolute;
  margin: 0em;
  padding: 0em;
  margin-left: 1em;
  display: inline-block;
  top: 25%;
}
