@import url('https://fonts.googleapis.com/css?family=Oxygen');
body {
  background: #2F2F2F;
  font-family: 'Oxygen', sans-serif;
  height: 100%;
  overflow: hidden;
}

#top {
  position: relative;
  margin-top: -2em;
  margin-left: -2em;
  margin-right: 0em;
  height: 10em
}

#geartrain {
  position: relative;
  margin-left: 0em;
  margin-top: 0em;
  width: 50%;
  height: 10em
}

#gear1 {
  position: absolute;
  margin-left: 0em;
  margin-top: 0em;
}

#gear2 {
  position: absolute;
  margin-left: 6.1em;
  margin-top: 2.075em;
  transform: rotate(15deg);
}

#gear3 {
  position: absolute;
  margin-left: 12.2em;
  margin-top: .35em;
  transform: rotate(20deg);
}

#menu {
  position: relative;
  margin-top: -8em;
  padding: 2em;
  float: right;
}

#maincontent {
  position: relative;
  display: flex;
  margin: 0em;
  padding: 0em;
  margin-top: 5em;
  height: 21em;
}

#leftnav {
  display: flex;
  float: left;
  height: 100%;
  align-items: center;
}

#education {
  float: left;
  color: #B7444A
}

#leftarrow {
  float: left;
}

#maintext {
  display: inline-block;
  text-align: center;
  color: #D9D9D9;
  font-size: 1.2em;
  align-items: center;
  width: 100%;
}

#rightnav {
  display: flex;
  float: right;
  height: 100%;
  align-items: center;
}

#projects {
  display: inline-block;
  float: left;
  color: #B7444A;
}

#rightarrow {
  display: inline-block;
  transform: rotate(180deg);
  float: left
}

#bottom {
  position: relative;
  display: flex;
  margin: 0em;
  padding: 0em;
  height: 8em;
}

#resume {
  display: inline-block;
  margin: 0em;
  height: 100%;
  align-items: center;
  color: #5D5D5D;
  width: 25%;
  font-size: 3em;
  margin: 0.5em
}

#bottomnav {
  display: inline-block;
  text-align: center;
  align-items: center;
  width: 50%;
}

#contact {
  color: #B7444A;
  font-size: 1.5em;
}

#bottomarrow {
  transform: rotate(270deg);
}

#github {
  display: inline-block;
  margin: 0em;
  height: 100%;
  align-items: center;
  color: #5D5D5D;
  width: 25%;
  font-size: 3em;
  text-align: right;
  margin: 0.5em
}
